/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

