#showcase {
  min-height: 400px;
  background: url('../../assets/coding-on-a-computer.jpg');
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top:100 px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}