<section id="showcase">
  <div class=container>
    <h1> Richard's full stack test</h1>
    <p>Hi! Hope you like my fullstack test! Thanks for considering my application, I spect to work alongside you soon!
    </p>
  </div>
</section>