<header class="header">
  <div class="container">
    <div id=branding>
      <h1>Reign fullstack test</h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/">News</a></li>
        <li><a routerLink="/about">about</a></li>
      </ul>
    </nav>
  </div>
</header>