<div class="container">
  <h2>About this site</h2>
  <p>This was a wonderful experience, I have to say that I've never used Nest before, It doest felt great to learn
    something new and what's it grows as the software started to flow and error where going each time less common,
    however, the front end (as you can see) was pretty hard. This is not because i'm not used to softwared develop or I
    lack of experience in javascript, it's more because along my whole career I've being mostly dedicated to backend
    API's development.</p>
  <h2>About me</h2>
  <p>I have a good feeling with this interview and I really hope to get further with you, I know that may not be the
    most experienced developer out there, but I have the passion, the hunger for knowledge and the will to become a key
    element of your company, you wont regreat giving me a chance to be part of your development team!. </p>
  <p>Thanks!</p>
</div>