.listDiv {
  position:relative;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.date, .del { 
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  display: inline;
  
}

.author {
  opacity: 0.5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  
}

a {
  text-decoration: none;
}

/* ul il */

ul {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
li {
  border: none;
  padding: 8px;
}

ul li{
  border-bottom: 1px solid rgba(20, 20, 20, 0.219);
}
ul li:nth-child(even){background-color: #030303;}
ul li:hover {background-color: #ddd;}