<div class='container'>
  <ul>
    <li>
      <a href='{{article.url}}' class='title'>{{article.title}}</a>
      <span class="author">{{article.author}}</span>
      <button (click)="onDiscard(article)" class="del"><i class="fa fa-trash" aria-hidden="true"
          id="trash"></i></button>
      <span class="date">{{article.created_at | date:'medium'}}</span>
    </li>
  </ul>
</div>